{% extends 'base-backend.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}


{% for label, messages in app.flashes() %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}


    <div class="d-flex flex-wrap justify-content-between align-items-center">
    <h1>Categorie</h1>
    <a href="{{ path('app_admin_categorie_new') }}" class="btn btn-success"><i class="aligne-middle" data-feather="plus"></i></a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Slug</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.nom }}</td>
                <td>{{ categorie.slug }}</td>
                <td class="text-end">
                    <a href="{{ path('app_admin_categorie_show', {'id': categorie.id}) }}" class="btn btn-warning"><i class="aligne-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_categorie_edit', {'id': categorie.id}) }}"class="btn btn-success" ><i class="aligne-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
