{% extends 'base.html.twig' %}
{% block title %}{{ livre.nom }}{% endblock %}

{% block body %}
<h1>{{ livre.nom }}</h1>
<div class="row">
	<div class="col-12 col-md-3">
		{% if livre.imageName is defined and livre.imageName is not null %}
  	<img src="{{ asset('images/livres/' ~ livre.imageName) }}" alt="" class="img-fluid">
		{% else %}
		<img src="{{ asset('images/livres/book-default.png') }}" alt="" class="img-fluid">
		{% endif %}
</div>
<div class="col-12 col-md-9">
<h2>Description :</h2>
<p>{{ livre.description }}</p>
<h2>Auteur(s)</h2>
<ul>
{% for auteur in livre.auteurs %}
<li>{{ auteur }}</li>
{% endfor %}
</ul>
</div>
</div>


{% endblock %}