		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="{{ path('app_admin_dashboard') }}">
          <span class="align-middle">Librairie</span>
        </a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Génériques
					</li>

					<li class="sidebar-item active">
						<a class="sidebar-link" href="{{ path('app_admin_dashboard') }}">
              <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
            </a>
					</li>

					<li class="sidebar-header">Librairie</li>

					<li class="sidebar-item">
						<a class="sidebar-link" href="{{ path('app_admin_categorie_index') }}">
              <i class="align-middle" data-feather="bookmark"></i> <span class="align-middle">Catégories</span>
            </a>
					</li>
					
					<li class="sidebar-item">
						<a class="sidebar-link" href="{{ path('app_admin_livre_index') }}">
              <i class="align-middle" data-feather="book"></i> <span class="align-middle">Livres</span>
            </a>
					</li>
					
					<li class="sidebar-item">
						<a class="sidebar-link" href="{{ path('app_admin_auteur_index') }}">
              <i class="align-middle" data-feather="users"></i> <span class="align-middle">Auteurs</span>
            </a>
					</li>

					
				</ul>

				
			</div>
		</nav>